html, body{
    margin : 0;
}

header{
    display: flex;
    justify-content: center;
    height: 54px;
    border-bottom: 1px solid #E9E9E9;
}

.login__header_content{
    width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login__header_join{
    font-size: 13px;
    color:rgb(226, 128, 128);
}

.login__header_join:hover{
    color:rgb(0, 255, 136);
}

.login__header_title{
    margin: 0;
    font-size: 16px;
}

.login__header_button{
    background: none;
    outline: none;
    border:none;
    cursor: pointer;
}

main{
    padding:36px 0;
    height:fit-content;
}

.login__login-wrapper{
    padding-top : 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login__login-text{
    width:300px;
    text-align: left;
    font-weight: 100;
    font-size:16px;
    color: #151515;
}

.login__login-email{
    margin-top:16px;
    width:300px;
    height: 36px;
    border:1px solid #E9E9E9;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.login__login-pw{
    margin-top:24px;
    width:300px;
    height: 36px;
    border-radius: 5px;
    border:1px solid #E9E9E9;
    display: flex;
    align-items: center;
}

.login__login-input-icon{
    width:20px;
    height: 20px;
    margin-left: 8px;
    margin-right: 16px;
}

.login__login-input-input{
    border:none;
    outline:none;
}

.login__login-button{
    margin-top: 32px;
    border:none;
    background:none;
    outline:none;
    cursor:pointer;
    color:#151515;
    font-weight: 100;
    font-size: 14px;
    border:1px solid #E9E9E9;
    width: 80px;
    height: 36px;
    border-radius: 10px;
}