html, body{
    margin : 0;
}

header{
    display: flex;
    justify-content: center;
    height: 54px;
    border-bottom: 1px solid #E9E9E9;
}

.main__header_content{
    width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__header_title{
    margin: 0;
    font-size: 16px;
}

.main__header_button{
    border:none;
    background: none;
    font-weight: bold;
    font-size: 10px;
    outline:none;
    color:#E76E54;
    cursor:pointer;
}

main{
    padding:36px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__note-section{
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__note-title-wrapper{
    width : 100%;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.main__note-title-icon{
    width: 20px;
    height: 20px;
    margin-right:12px;
}

.main__note-title{
    margin:0;
    font-weight: 100;
    font-size:16px;
}

.main__note-input{
    border:none;
    outline:none;
    padding :20px 24px;
    border-radius: 5px;
    background: #F6F6F6;
    font-size:13px;
    resize:none;
    width:750px;
    height: 150px;
    margin-bottom:16px;
    box-sizing: border-box;
}

.main__submit-button{
    border:none;
    background: none;
    outline: none;
    display: flex;
    align-items: center;
    border : 1px solid  #E9E9E9;
    box-sizing:border-box;
    border-radius: 10px;
    height: 36px;
    cursor:pointer;
}

.main__submit-button-icon{
    width:20px;
    height: 20px;
    margin-right: 11px;
}

.main__submit-text{
    font-weight: 100;
    font-size:14px;
}

.main__note-contents{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 25px;
    row-gap: 25px;
}

.main__note-content{
    padding:16px;
    width: 250px;
    border: 1px solid #E9E9E9;
    box-sizing: border-box;
    border-radius: 5px;
}

a{
    text-decoration: none;
    color: black;
}